<div>
    Travel Place: 
    <input type="text" placeholder="Enter travel place" ng-model="newTravel.place">
    Start Date:
    <input type="date" ng-model="newTravel.dStart">
    End Date:
    <input type="date" ng-model="newTravel.dEnd">
</div>

<!--<label class="text-center"><p>Click next to edit participate people list</p></label>-->
<!--<label class="text-center"><h5>People list</h5></label>-->

<!--
<label class="row" ng-repeat="people in newTravel.peopleList">
    {{people}}
</label>
-->

