<div class="travel-list">
    <div class="travel-item" ng-repeat="people in result">
        <div>
            Person name: {{people.name}}
        </div>
        <div>
            Should pay: {{people.shouldExpense.toFixed(2)}}
        </div>
        <div>
            Actual pay: {{people.actualExpense.toFixed(2)}}
        </div>
        <div style="color:red">
            Result: You should give {{(people.shouldExpense - people.actualExpense).toFixed(2)}} to the group
        </div>
    </div>
</div>