<div class="travel-list">
    <div class="travel-item" ng-repeat="travel in travelList" ng-click="goToExpenseList(travel)">
        <div>
            {{travel.place}}
        </div>
        <div>
            Date: {{travel.dStart}} to {{travel.dEnd}}
        </div>
        <div>
            Total amount: {{travel.totalAmount}}
        </div>
    </div>
</div>

<div class="start-new-travel-button " ng-click="showStartNewTravelPopup()">
    <div class="text">
        Start a new travel
    </div>
</div>